In [8]:
import pandas as pd
import numpy as np

加载数据

In [12]:
data = pd.read_csv("RFM_TRAD_FLOW.csv",encoding="gbk")
data.head()

   transID  cumid              time  amount type_label    type
0     9407  10001  14JUN09:17:58:34   199.0         正常  Normal
1     9625  10001  16JUN09:15:09:13   369.0         正常  Normal
2    11837  10001  01JUL09:14:50:36   369.0         正常  Normal
3    26629  10001  14DEC09:18:05:32   359.0         正常  Normal
4    30850  10001  12APR10:13:02:20   399.0         正常  Normal

In [15]:
F = data.groupby(['cumid' ,'type'])['transID'].count()
F

cumid  type
10001  Normal            15
       Presented          8
       Special_offer      2
       returned_goods     2
10002  Normal            12
       Presented          5
       returned_goods     1
10003  Normal            15
       Presented          8
       Special_offer      1
       returned_goods     1
10004  Normal            15
       Presented         12
       Special_offer      2
       returned_goods     1
10005  Normal             8
       Presented          5
       returned_goods     1
10006  Normal            10
       Presented          3
       Special_offer      1
       returned_goods     3
10007  Normal            15
       Presented          9
       Special_offer      1
       returned_goods     1
10008  Normal            17
       Presented         12
       Special_offer      3
       returned_goods     3
                         ..
40292  returned_goods     1
40293  Normal            21
       Presented          7
       Special_offer      3
       returned_goods     1
40294  Normal            16
       Presented          5
       Special_offer      1
40295  Normal            16
       Presented          6
       Special_offer      1
       returned_goods     1
40296  Normal            13
       Presented          6
       Special_offer      1
       returned_goods     1
40297  Normal            17
       Presented         10
       Special_offer      5
       returned_goods     2
40298  Normal            10
       Presented          9
       Special_offer      4
40299  Normal            16
       Presented         11
       Special_offer      1
40300  Normal            10
       Presented          6
       Special_offer      1
       returned_goods     3
Name: transID, Length: 4023, dtype: int64

In [20]:
F_trans = pd.pivot_table(data,index='cumid' ,columns='type' ,values='transID')
F_trans

type         Normal     Presented  Special_offer  returned_goods
cumid
10001  30462.733333  41307.375000   24765.500000    39963.500000
10002  26264.750000  31908.800000            NaN    21160.000000
10003  27917.066667  34653.500000   27268.000000    36991.000000
10004  23732.666667  35420.583333   21925.500000    36539.000000
10005  27377.250000  38828.600000            NaN    30665.000000
10006  24442.100000  39767.000000   23351.000000    14650.666667
10007  31756.133333  39624.888889   19021.000000    31412.000000
10008  31643.941176  26646.166667   22478.666667    40069.333333
10009  25081.076923  38997.000000            NaN    22930.000000
10010  33193.625000  36966.000000   24071.333333             NaN
10011  22681.625000  36836.000000   20864.000000             NaN
10012  25666.529412  36719.714286   21047.666667             NaN
10013  21124.666667  36515.714286   20568.000000    10293.000000
10014  28790.631579  42022.714286   19791.333333    24582.000000
10015  25564.000000  34734.250000   24761.000000    39607.000000
10016  26109.933333  27921.000000   24146.000000    35988.000000
10017  21770.181818  35558.333333   23420.000000    25979.000000
10018  23030.300000  31820.000000            NaN             NaN
10019  23408.642857  36237.750000   19502.500000             NaN
10020  27212.000000  30956.000000            NaN    27755.000000
10021  33473.461538  42249.714286   24282.000000    26436.000000
10022  19494.818182  40191.571429   18999.000000             NaN
10023  30225.875000  41852.875000   24440.000000             NaN
10024  27101.000000  31936.500000   21010.333333             NaN
10025  27261.600000  40473.800000   22019.500000             NaN
10026  26096.857143  37161.777778   19711.000000    21958.000000
10027  23260.000000  37089.500000   23877.000000    23311.000000
10028  39375.857143  39992.857143   19970.500000    15493.000000
10029  27158.210526  34028.818182   18611.000000    13300.000000
10030  29349.636364  33219.166667   23338.000000    35531.500000
...             ...           ...            ...             ...
40271  30368.000000  40263.000000   22690.333333    21155.000000
40272  31502.333333  30878.500000            NaN    14806.000000
40273  26226.764706  39077.142857            NaN    50835.000000
40274  23749.571429  35644.444444   22954.000000    10849.000000
40275  31864.100000  36869.500000   19986.000000    31559.000000
40276  25635.416667  34993.428571   24100.500000    40224.000000
40277  26029.222222  45728.500000   20187.000000    41287.000000
40278  25133.764706  38326.750000            NaN             NaN
40279  32601.000000  44726.000000   19256.000000    16293.000000
40280  21500.500000  31151.428571   22471.000000             NaN
40281  32837.944444  30961.000000            NaN             NaN
40282  25994.636364  39068.900000   22352.000000    44892.000000
40283  25317.437500  37072.666667            NaN    52889.000000
40284  27199.933333  39429.500000   21206.333333             NaN
40285  26815.312500  36613.307692   25928.000000             NaN
40286  26194.428571  35255.250000   22074.000000    14890.000000
40287  30127.545455  33616.500000   18920.000000    25656.500000
40288  25545.818182  31543.166667            NaN    24230.000000
40289  29736.739130  33346.375000   24788.000000    42419.500000
40290  32289.090909  29294.111111   24550.000000             NaN
40291  25629.277778  29570.818182   24935.000000             NaN
40292  27215.562500  38900.600000   24335.000000     7879.000000
40293  30578.000000  39150.142857   21657.666667    23309.000000
40294  25819.187500  35851.200000   24785.000000             NaN
40295  26148.375000  41299.666667   23798.000000    45610.000000
40296  28492.384615  35388.333333   20673.000000    41089.000000
40297  32660.529412  32466.000000   23070.600000    28421.000000
40298  28623.200000  35617.666667   24331.250000             NaN
40299  26982.812500  40451.636364   20157.000000             NaN
40300  28245.300000  29562.166667   24730.000000    21039.000000

[1200 rows x 4 columns]

In [22]:
F_trans.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1200 entries, 10001 to 40300
Data columns (total 4 columns):
Normal            1200 non-null float64
Presented         1200 non-null float64
Special_offer     927 non-null float64
returned_goods    696 non-null float64
dtypes: float64(4)
memory usage: 46.9 KB

In [26]:
F_trans['Special_offer'].fillna(0 ,inplace=True)

In [27]:
F_trans.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1200 entries, 10001 to 40300
Data columns (total 4 columns):
Normal            1200 non-null float64
Presented         1200 non-null float64
Special_offer     1200 non-null float64
returned_goods    696 non-null float64
dtypes: float64(4)
memory usage: 46.9 KB

In [28]:
F_trans['returned_goods'].fillna(0,inplace=True)

In [29]:
F_trans['interest'] = F_trans['Special_offer'] / (F_trans['Special_offer'] + F_trans['Normal'])
F_trans.head()

type         Normal     Presented  Special_offer  returned_goods  interest
cumid
10001  30462.733333  41307.375000        24765.5         39963.5  0.448421
10002  26264.750000  31908.800000            0.0         21160.0  0.000000
10003  27917.066667  34653.500000        27268.0         36991.0  0.494119
10004  23732.666667  35420.583333        21925.5         36539.0  0.480210
10005  27377.250000  38828.600000            0.0         30665.0  0.000000